<!DOCTYPE html>
<html>
<head>
  <title>Twenty48Rails</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="flash-container">
    <% if !flash.empty? %>
      <div class="flash">
        <% flash.each do |key, value| %><%= value %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="app-container">
    <div class="navbar">
      <%= render 'navbar' %>
    </div>
    <div class="leaderboard-container">
      <h2>LEADERBOARD</h2>
      <div class="leaderboard"></div>
    </div>
    <div class="display-game">
      <%= yield %>
    </div>
    <div class="saved-games-container">
      <h2>RECENT GAMES</h2>
      <div class="saved-games"></div>
    </div>
  </div>
</body>
</html>
